aquaaristonremotethermo==1.0.49
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.0
idna==3.10
pycparser==2.22
requests==2.32.3
tinytuya==1.17.4
urllib3==2.3.0
